<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>
		
		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Departamentos</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/departamentos/cadastrar}"> <i class="oi oi-plus"></i>
					<span>Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/departamentos/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
			</a></li>
		</ul>


		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Cargos</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/cargos/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/cargos/listar}"> <i class="oi oi-spreadsheet"></i> <span>Listar
				</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Funcionários</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/funcionarios/cadastrar}"> <i class="oi oi-plus"></i>
					<span>Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/funcionarios/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Clientes</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/clientes/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/clientes/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Produtos</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/produtos/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/produtos/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/produtos/entrada-produto}"> <i class="oi oi-plus"></i>
					<span>Entrada de produtos </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/produtos/saida-produto}"> <i class="oi oi-minus"></i>
					<span>Saida de produtos </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Serviços</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/servicos/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/servicos/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Agendamentos</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/agendamentos/cadastrar}"> <i class="oi oi-plus"></i>
					<span>Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/agendamentos/listar}"> <i class="oi oi-calendar"></i>
					<span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Relatórios</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/relatorios/gerar-relatorios}"> <i
					class="oi oi-bar-chart"></i> <span>Gerar relatórios </span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/relatorios/agendar-relatorios}"> <i
					class="oi oi-bell"></i> <span>Agendar relatórios </span>
			</a></li>
		</ul>


	</nav>
</body>
</html>